# Created by .ignore support plugin (hsz.mobi)
### WordPress template
*.log
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
/.htaccess
/sitemap.xml
/_config.yml
sitemap.xml.gz
*.log
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/db.php
wp-admin/
wp-includes/
mwp_db/
/wp-*.php
/index.php
/xmlrpc.php
/license.txt
.idea
node_modules
bower_components
.sass-cache
.DS_Store
Thumbs.db
/.settings/
.dropbox
.dropbox_cache
.BridgeLabelsAndRatings
apple-touch-*